{% extends 'mat.html' %}
{% block title %}bayesian inference{% endblock %}
{% block body %}
<style>
  #buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #R, #S {
    user-select: none;
    border: 1px solid #b7c3f3;
    width: min-content;
    text-align: center;
    padding: 10px;
  }
  #S { grid-column: 2; }
  #R:hover, #S:hover {
    box-shadow: 2px 2px 1px 1px gray;
    transform: translate(-1%, -1%);
    transition: 0.25s
  }
</style>
<p>i was lucky enough to come across a bag with infinite candy, but i can't see inside. i have five hypotheses about the composition of the bag; each assigns a different proportion for the two kinds of candy: smarties, and reeces.</p>
<ul>
  <li>H<sub>1</sub>: the bag contains 100% smarties.</li>
  <li>H<sub>2</sub>: the bag contains 75% smarties, 25% reeces.</li>
  <li>H<sub>3</sub>: the bag contains 50% smarties, 50% reeces.</li>
  <li>H<sub>4</sub>: the bag contains 25% smarties, 75% reeces.</li>
  <li>H<sub>5</sub>: the bag contains 100% reeces.</li>
</ul>
<p>... and I think each has a different chance of actually being correct - i'll call this my <em>belief</em> in a given hypothesis. the probability that a hypothesis H<sub>i</sub> is correct is written p(H<sub>i</sub>). let's give the hypotheses the following arbitrary values:</p>
<ul>
  <li>p(H<sub>1</sub>) = <span id='h0'>0.1</span></li>
  <li>p(H<sub>2</sub>) = <span id='h1'>0.2</span></li>
  <li>p(H<sub>3</sub>) = <span id='h2'>0.4</span></li>
  <li>p(H<sub>4</sub>) = <span id='h3'>0.2</span></li>
  <li>p(H<sub>5</sub>) = <span id='h4'>0.1</span></li>
</ul>
<p>finally, i decide to reach in and grab a candy. what information will this give me about my hypotheses? if I pull out a reeces, i know that H<sub>1</sub> is incorrect, so, intuitively, my belief in it should immediately drop to zero. <a href='https://en.wikipedia.org/wiki/Bayesian_inference'>Bayesian inference</a> provides a precise mathematical tool for updating one's beliefs based on new observations:</p>
<div id='buttons'> <p id='S'>smarties</p> <p id='R'>reeces</p> </div>
<p>so where does it break? when belief goes to zero, it's impossible for it to change, even with an observation that contradicts it. does this mathematical property say anything about <em>actual</em> beliefs and people's willingness to change? it seems too simple to me, but perhaps it serves as some kind of hyperbolic idealization which we can use as a metaphor: never to let creedence in a hypothesis drop to zero; this defines the distinction between improbable and impossible. even if unlikely, granting a model zero probability disables responsiveness to new evidence.</p>
{% endblock %}

{% block script %} <script>
  $('#S').click(() => updatePriors('S'))
  $('#R').click(() => updatePriors('R'))

  let P = { 'S': [ 1, 0.75, 0.5, 0.25, 0 ], 'R': [ 0, 0.25, 0.5, 0.75, 1 ] }
  let M = [ 0.1, 0.2, 0.4, 0.2, 0.1 ]

  const p = (e) => {
    let s = 0
    for (let m in M) s += P[e][m] * M[m]
    return s
  }

  function updatePriors(e) {
    for (let m in M) {
      M[m] = P[e][m] * M[m] / p(e)
      $(`#h${m}`).text(M[m])
    }
  }
</script> {% endblock %}