{% extends "root.html" %}
{% block title %}bonk.life{% endblock %}
{% block body %}

<fieldset style='float:right; padding-left: 30px'>
  <legend style='border-radius: 50%; width: 100px; height: 100px;'>
    <img width='100' 
      style='border-radius: 50%; cursor: help; transform: translate(-6px,-6px);' 
      src='static/ntern.png' />
  </legend>
  <a href='https://www.instagram.com/rm_dkr' 
     style='margin-top: 10px; display: flex; align-items: center;'
     target='_blank'>
     <img width='30' style='padding-right: 10px' src='static/ig.png' />@rm_dkr</a>
  <a href='https://github.com/banditsbeware' 
     style='margin-top: 10px; display: flex; align-items: center;'
     target='_blank'>
     <img width='30' style='padding-right: 10px' src='static/github.jpg' />banditsbeware</a>
</fieldset>

<a href='/editor'><img src='{{ url_for("static", filename="jet.gif") }}'></a>
<h3><a href='/journal'>&gt; david rademacher</a></h3>

<fieldset>
  <legend>Documents</legend>
  <ul id='bloglist'>
    {% for post in posts %} 
      {% if post["visible"] == 1 %}
        <li><a href='/post/{{ post["bid"] }}'>{{ post["title"] }}</a></li> 
      {% endif %}     
    {% endfor %} 
  </ul>
</fieldset>

<fieldset>
  <legend>Projects</legend>
  <!--<ul>
    <li><a target='_blank' href=''>bonk</a></li>
    <li><a target='_blank' href=''>Post-Quarantine Bucket List</a></li>
    <li><a target='_blank' href=''>Proctor Phil</a></li>
    <li><a target='_blank' href=''>Craig</a></li>
    <li><a target='_blank' href=''>generative art</a></li>
  </ul>-->
  ???
</fieldset>

<fieldset>
  <legend>Bookmarks</legend>
  <ul>
    <li><a target='_blank' href='https://blas.com/'>blas.com</a></li>
    <li><a target='_blank' href='https://regex101.com/r/8M0MqB/1'>regex101</a></li>
    <li><a target='_blank' href='http://atom.smasher.org/'>atom smasher</a></li>
    <li><a target='_blank' href='http://www.catb.org/jargon/html/index.html'>the jargon file</a></li>
    <li><a target='_blank' href='https://xn--gckvb8fzb.com/'>マリウス</a></li>
    <li><a target='_blank' href='https://omnipresence.neocities.org/#'>omni is awake</a></li>
  </ul>
</fieldset>

{% endblock %}
