{% extends "root.html" %}

{% block title %}bonk.life{% endblock %}

{% block body %}

<a href='/editor'><img src='{{ url_for("static", filename="jet.gif") }}'></a>

<div style='float:right'>
  <img width='100' style='border-radius: 50%;' src='static/ntern.png' /> <br />
  <a href='https://www.instagram.com/rm_dkr' 
     style='margin-top: 10px; display: flex; align-items: center;'
     target='_blank'>
     <img width='20' style='padding-right: 10px' src='static/ig.png' />@rm_dkr</a>
</div>

<h3>david rademacher</h3>
<ul id='bloglist'>
  {% for post in posts %} 
    {% if post["visible"] == 1 %}
      <li><a href='/post/{{ post["bid"] }}'>{{ post["title"] }}</a></li> 
    {% endif %}     
  {% endfor %} 
</ul>

{% endblock %}
