* { 
  cursor: url(Tailless.cur), auto; 
  scrollbar-width: none;
  box-sizing: border-box;
}
*::-webkit-scrollbar { display: none; }
html { 
  height: 100vh;
  overflow-x: hidden; 
  font-family: 'JetBrains Mono'; 
  font-size: .9em;
  color: lightgray;
  background-image: url(flower.jpg);
  background-attachment: fixed;
  background-position: center;
}

body {
  margin: 100px auto 200px auto; padding: 30px;
  width: 75%;
  background-color: #1f2638;
  border: 8px double white;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.7); 
  align-items: center;
}

h3 { 
  animation: color-change 5s infinite; 
  cursor: help; 
}

fieldset { 
  margin-top: 30px;
  padding-right: 40px;
  padding-bottom: 40px;
  border: 2px solid gray; 
  background-color: #171e2c;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 300px;
  display: inline-block;
  vertical-align: top;
}
fieldset:hover { border: 2px solid aliceblue; }

fieldset legend { 
  border: 1px solid lightgray; 
  padding: 5px;
}

fieldset li a {
  text-decoration: none;
}

ul#bloglist { 
  padding-left: 10px; 
}

ul#bloglist li { 
  list-style-type: none;
  list-style-position: inside;
  margin-bottom: 5px; 
  background-image: url(file.png);
  background-repeat: no-repeat;
  padding-left: 25px;
  background-position: 0 3px;
}

form * { margin: 5px 0; }
textarea, input { 
  background-color: #1f2638;
  color: lightgray;
}

fieldset a, a#back {
  text-decoration: none;
}

a { color: inherit; }

a:hover { color: white; }

@keyframes color-change {
  0% { color: gray; }
  50% { 
    color: white; 
    text-shadow: 2px 2px rgba(255, 255, 255, 0.3);
  }
  100% { color: gray; }
}