@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
html { 
  overflow-x: hidden; 
  font-family: 'JetBrains Mono'; 
  font-size: .9em;
  color: lightgray;
  background-image: url('./flower 4k.jpg');
  background-attachment: fixed;
  background-position: center;
}
body {
  margin: 100px auto 20px auto; padding: 30px;
  width: 60%;
  background-color: #02020B;
  border: 8px double white;
}
ul#bloglist {
  list-style-image: url('file_lines-1.png');
}
ul#bloglist li {
  margin-bottom: 5px;
}
form * {
  margin: 5px 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: white;
}