body {
  margin: 100px auto; padding: 0;
  width: 50%;
  background-color: #404e5c;
  color: #b7c3f3;
}

form { margin: 0; }

fieldset { 
  border: 3px inset #4f6272;
  background-color: #303e4c;
}

a, a:visited {
  text-decoration: none;
  color: #c7d3ff;
}

a:hover {
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

textarea {
  margin-top: 5px;
  width: 98%;
  padding: 5px;
  border: none;
  resize: none;
  background-color: #4f6272;
  color: #c7d3ff;
}

textarea:focus {
  outline: none !important;

