<!-- docs.html - homepage for the blog; search & filter posts -->
<!DOCTYPE html>
<html>
  <head>
    <title>bonk.life docs</title>
    <link rel='stylesheet' href='{{ url_for("static", filename="styles.css") }}'>
  </head>
  <body>
    <h3>all docs</h3>
    {% if posts %}
      {% for post in posts %}
      <!-- TODO: on hover, show post id -->
      <p><a href='/docs/{{post.id}}'>{{ post.title }}</a></p>
      {% endfor %}
    {% else %}
      <p>no posts :(</p>
    {% endif %}
  </body>
</html>
